/* custom CSS variables */
/* border box model, box-sizing prop is not inherited by default */
/* 1 + 1 = 1 in margin land, margin collapse when inherited so 2 against 1 , 2 wins! */
/* pceudo classes - add styles to selectors when met conditions*/
/* padding and marigin in horizontal work as we expected, in vertical direction we have exception */

/* Variables declared here - these are the colors for our pages, as well as the font stacks and sizes. */

:root {
    /* --black: #171321; */
    --dkblue: #0d314b;
    --plum: #4b0d49;
    --hotmag: #ff17e4;
    --magenta: #e310cb;
    --aqua: #86fbfb;
    --white: #f7f8fa;
    --yellow: #CDD422;
    --flame: #E05915;
    --lightblue: #C2DDE6;
    --prpleBlue: #431C5D;
    --green: #21a743;
    --purple: #640ecd;
    --grey: #BCCBDE;
    --pink: #ff3975;
    --font-size: 1.3rem;
    --mono: "Oxygen mono", monospace;
    --sans: Oxygen, sans-serif;
    --black: #353935;
    --platinium: #E5E4E2;
    --greenblue: #0D98BA;
    --dark-blue: #3305A3;
    --kind-0f-white: #E6E9F0;
    --greens: #8aea92;
    --pinka: rgb(255,92,15);
   
}


/* border box model: https://css-tricks.com/box-sizing/ */

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}


/* generic styles for the page */

body {
    padding: 0;
    margin: 0;
    font-family: var(--sans);
    background-color: var(--black);
    color: var(--grey);
    font-size: var(--font-size);
}

h1,
h2,
h3 {
    margin: 0;
}

.link {
    color: var(--aqua);
    text-decoration: none;
    font-family: var(--mono);
}

.link:hover {
    color: var(--pink);
 
}
.sun-img {
    width: 130%;
    margin: 2rem 0 6rem 0;
    padding: 1rem;


}


.seeker-img {
    width: 120%;
    margin: 2rem 0 6rem 0;
    padding: 1rem;



}

.me-img {
    width: 60%;
    margin: 2rem 0 6rem 0;
    padding: 1rem;
    border-left: 1px solid var(--grey);
    border-top: 1px solid var(--grey);
    border-radius: .2rem;
    opacity: .9;
}
.me-img:hover {
    opacity: 1;
}


/* background color divs */
.section-kowhite {
    background-color: var(--kind-0f-white);
 
    margin-bottom: 15rem;
}




.section-purple {
    background-color: var(--purple);
    padding-bottom: 25rem;
}

.section-green {
    background-color: var(--green);
    padding: 2rem;
}

.section-plump {
    background-color: var(--plum);
}
.section-yellow {
    background-color: yellow;
    color: black;
    font-family: var(--mono);
  
}
.section-white {
    background-color: black;
    padding: 2rem;
}
.section-about {
    background-color: var(--black);
    padding: 2rem;
}


.section-ss {
    background-color: black;
    padding: 2rem;
}
.section-sm {
    background-color: var(--black);
    padding: 2rem;
}


.section-prpleBlue {
    background-color: var(--prpleBlue);
}
.section-blue {
    background-color: var(--dkblue);
}

.section-yellow {
    background-color: yellow;
    padding: 2rem;

}
.section-yellow:hover {
    background-color: var(--black);
    color: yellow;

}






/* intro styles */
.logo {
    color: white;
opacity: .8;
    font-family: var(--mono);
}
.logo:hover {
opacity: .9;
}

#intro {
    padding: 4rem 1rem 10rem 1rem;
    /* padding-bottom: 15rem; */
    max-width: 1200px;
    margin: 0 auto;
    
}

#intro p {
    font-size: 1rem;
    line-height: 1.5;
}

#intro .name {
    font-family: var(--mono);
    font-size: 1rem;
}

.name span {
    /* font-family: var(--sans); */
    font-size: 4rem;
    color: var(--greens);
    display: block;
    font-weight: 300;
}

#intro h2 {
    font-size: 5rem;
}


/* contact section */

.contact {
    /* width: 440px; */
    text-align: center;
    margin: 0 auto;
    padding: 5rem; 
    font-weight: 900;
    background-color: var(--pink);

    
}

.contact p:last-child {
    margin-top: 3rem;
} 




/* navigation */

nav {
    font-family: var(--mono);
    font-size: 80%;
    padding: 5rem 1rem;

}

nav h1 a {
    font-family: var(--sans);
}

nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

nav li:first-child {
    flex-basis: 100%;
    text-align: center;
}

nav [class*="fa-"] {
    font-size: 150%;
    color: var(--aqua);
}

nav h1 [class*="fa-"] {
    font-size: 100%;
    color: var(--aqua);
}

nav a {
    color: white;
    text-decoration: none;
    display: block;
}

nav [class*="fa-"]:hover {
    color: var(--hotmag);
   
}
.navLink:hover {
    border-bottom: 1px solid white;
}

.button {
    background-color: var(--magenta);
    color: white;
    padding: 0.5rem;
    border-radius: 5px;
    text-decoration: none;
    font-family: var(--mono);
}

.button:hover {
    color: white;
    background-color: var(--hotmag);
}

.me-desc {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: end;
  gap: 3rem;
  font-size: 2rem;
  padding: 2rem;
  margin-top: 5rem;
  opacity: 0.9;
}
.me-desc:hover {
  opacity: 1;
}


/* projects section */

#projects {

    padding: 8rem 0rem 8rem 0rem;
 
}

#projects h2 {
    font-size: 2.5rem;
    margin-bottom: calc(2.5rem * 1.5);
}

#projects h3 {
    color: var(--aqua);
    font-size: 2rem;
}



#projects h4 {
    font-size: 1rem;
    font-family: var(--mono);
    margin: 0;
}



.whitebox {
    padding: 1rem;
    border-radius: 10px;
    color: yellow;
    background-color: black;
    font-size: 1rem;
    line-height: 1.5;
}
.whitebox:hover{
    color: black;
    background-color: white;
}
.yellowbox {
    padding: 1rem;
    border-radius: 10px;
    color: yellow;
    background-color: black;
    font-size: 1rem;
    line-height: 1.5;
}
.yellowbox:hover{
    color: black;
    background-color: white;
}
.techStack {
    padding: 1rem;
    font-size: 2rem;
    line-height: 1.5;
}
.techStack:hover {
  
   background-color: var(--dkblue);
    font-weight: 900;
    font-size: 120%;
 
}
.techStackSolar {
    padding: 1rem;
    font-size: 2rem;
    line-height: 1.5;
}
.techStackSolar:hover {
  color: var(--black);
   background-color: var(--flame);
    font-weight: 900;
    font-size: 120%;
 
}

.tech-list-a {
    margin-top: 5rem;
    padding: 5rem;
    list-style-type: none;
    font-size: 1.5rem;
    font-family: var(--mono);
    display: flex;
    flex-flow: column;
    justify-content: center;
    gap: 2.5rem;
    opacity: 0.2;
   
}
.tech-list-a:hover {
    border-top: 0.5px solid var(--grey);
    /* border-left: 0.5px solid var(--grey); */
  
    opacity: 100;
   

}
.tech-list-sm {
    padding-top: 3rem;
    list-style-type: none;
    font-size: 2rem;
    font-family: var(--mono);
    display: flex;
    flex-flow: column;
    justify-content: center;
    gap: 2.5rem;
    opacity: 0.5;
   
}
.tech-list-sm:hover {
    border-top: .5px solid var(--grey);
    opacity: 100;
   
}
.desc-list {
    padding-top: 2rem;
    padding-bottom: 5rem;
    list-style-type: none;
    font-size: 1rem;
    font-family: var(--sans);
    display: flex;
    flex-flow: column;
    justify-content: center;
    gap: 1rem;
    opacity: 0.5;

}



.projectImg {
    margin: 2rem 0 4rem 0;
    padding: 1rem;
    border-left: 1px solid var(--grey);
    border-top: 1px solid var(--grey);
    border-radius: .5rem;
}


/* footer section */

footer {
    text-align: center;
    padding: 6rem 2rem;
    background-color:  var(--black);
    width: 100%;
    color: white;
}
footer ul {
    list-style-type: none;
    padding: 0;
    margin: 2rem 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 4rem;
    font-size: 3rem;
}


@media (min-width: 550px) {
    article {
        display: grid;
        grid-template-columns: repeat(10, 1fr);
    }
    #projects {
        max-width: 1200px;
        margin: 0 auto;
    }
    #projects img {
        grid-column: 1/6;
        grid-row: 1/2;
        cursor: pointer;
    }

    .text {
        grid-column: 4/11;
        grid-row: 1/2;
        order: 2;
        text-align: right;
    }
    .textAboutL {
        grid-column: 2/11;
        grid-row: 1/2;
        order: 2;
        text-align: left;
        color: var(--black);
        padding: 1rem;
    }
    .textAboutR {
        grid-column: 5/11;
        grid-row: 1/2;
        order: 2;
        text-align: right;
        color: var(--black);
        padding: 1rem;;
    }

    #projects ul {
        justify-content: flex-end;
    }
    #projects .reverse .text {
        grid-column: 1/7;
        order: 2;
        text-align: left;
    }
    #projects .reverse img {
        grid-column: 6/11;
        grid-row: 1/2;
    }
    #projects .reverse ul {
        justify-content: flex-start;
    }
 

}

@media (min-width: 850px) {
    nav {
        max-width: 1200px;
        margin: 0 auto;
    }
    nav li:first-child {
        flex-basis: auto;
        text-align: left;
        margin-right: auto;
    }

}


  div > h2 {
    font-size: 10rem;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 2s linear;
    margin-top: 3rem;
    margin-bottom: 3rem;
  }

  div:hover > h2 {
    font-size: 50px ;
 
    visibility: visible;
    opacity: 1;
  }


  .container {
   margin-top: 15rem;
   margin-bottom: 15rem;
  }
  .recipeDesc {
    color: white;
    background-color: red;
    margin-top: 30rem;
    margin-bottom: 15rem;
    padding: 1rem;
    font-size: 2rem;
    font-family: var(--mono);
  } 
  .recipeDesc:hover{
    background-color: var(--dark-blue);
    color: white;
  
  }
  .recipeTech {
    color: var(--white);
  }

  .spDesc {
    background-color: var(--black);
    color: white;
    margin-top: 20rem;
    margin-bottom: 15rem;
    padding: 1rem;
    font-size: 1.6rem;
  }
  .spDesc:hover {
    background-color: white;
    color: var(--black);
  }

  .smDesc {
    background-color: var(--black);
    color: yellow;
    margin-top: 30rem;
    margin-bottom: 15rem;
    padding: 1rem;
    font-size: 1.6rem;
  }
  .smDesc:hover {
    background-color: yellow;
    color: var(--black);
  }
  .smTech {
    color: var(--white);        
  }

  .solarDesc {
    background-color: var(--flame);
    margin-top: 30rem;
    margin-bottom: 15rem;
    padding: 1rem;
    font-size: 1.8rem;

  }
  .solarDesc:hover {
    background-color: white;
    color: var(--flame); 
}
.solarTech {
    color: white;
}

.techH {
    margin: 1rem;
    font-size: 2rem;
    /* border-bottom: 1px solid white; */
}   
.yellow {
    color: yellow;
    font-family: var(--mono);
}
.proudof {
 
    font-family: var(--mono);
    padding: 8rem;
    font-size: 3rem;

}
.tools {
    padding-top: 2rem;
    padding-bottom: 2rem;
}
 .a {
    transform: rotate(20deg);
  }
  


  .project-img {
    width: 95%;
    transition: width 1s;
  }
  
  .project-img:hover {
    width: 100%;
  }
  .trnas-desc {
    transform: rotate(2deg);
  }
  .trnas-desc:hover {
    transform: rotate(0deg);
  }

  .about-heading {
    margin-top: 1rem;
    margin-bottom: 5rem;
    font-size: 2.5rem;
    padding: 1rem;
    font-family: var(--mono);
  }


  /* gradients */


  .gradient {
    background: linear-gradient(90deg, rgba(255, 23, 228, 1) 0%, rgba(134, 251, 251, 1) 100%);
    height: 3px;
}
.about-gradient {
    background: linear-gradient(90deg, var(--black) 0%, var(--kind-0f-white) 100%);
    height: 2px;
    margin-top: 5rem;
}
.about-gradient-wide {
    background: linear-gradient(90deg, var(--black) 0%, var(--kind-0f-white) 100%);
    height: 2rem;
    margin-top: 5rem;
}
  .b-p-gradient {
    background-color: #640ecd;
    background-image: linear-gradient(0deg, #640ecd 0%, var(--black) 85%);
    height: 30rem;
    width: 100%; 
  }
  .p-g-gradient {
    background-color: var(--green);
    background-image: linear-gradient(0deg, var(--green) 0%, var(--purple) 85%);
    height: 30rem;
    width: 100%; 
  }
  .p-p-gradient {
    background-color: var(--pink);
    background-image: linear-gradient(0deg, var(--pink) 0%, var(--purple) 85%);
    height: 10rem;
    width: 100%; 
    padding-top: 25rem;
    padding-bottom: 10rem;
  }
  .b-w-gradient {
    background-color: var(--kind-0f-white);
    background-image: linear-gradient(0deg, var(--kind-0f-white) 0%, var(--black) 85%);
    height: 20rem;
    width: 100%; 
  }
  .footer {
  
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: start;
    gap: 5rem;
    font-size: 1.5rem;
    padding: 2rem;

  }
  .footer-list {
    list-style-type: none;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: start;
    gap: 1rem;
    font-size: 1rem;
    padding-top: 2rem;
    padding-bottom: 2rem;

  }
  .fontfooer {
    font-size: small;
    padding-top: 3rem;

  }
  .outer {
    display: flex;
    flex-flow: row;
    justify-content: end;
    padding-top: 2rem;
    padding-bottom: 2rem;

  }

  .contact-link {
    font-size: 3rem;
    color: var(--grey);
   

  }
  .contact-link:hover {
    color: var(--aqua);
  }
  .contact-list {
    list-style-type: none;
    display: flex;
    flex-flow: row;
    justify-content: center;
    gap: 2rem;
    font-size: 3rem;
  }
  .outer-about {
    color: var(--black);
  }
  .diagonal-top {
    background-color: #013A6B;
    background-image: -webkit-linear-gradient(40deg, var(--black) 60%, var(--purple) 40%);
    height: 15rem;
  }
  .diagonal-me{
    background-color: #013A6B;
    background-image: -webkit-linear-gradient(-80deg, var(--purple) 50%, var(--black) 50%);
    height: 40rem;
  }
  .diagonal-me-1{
    background-color: #013A6B;
    background-image: -webkit-linear-gradient(-80deg, var(--black) 50%, var(--purple) 50%);
    height: 40rem;
  }
  .diagonal-me-2{
    background-color: #013A6B;
    background-image: -webkit-linear-gradient(-10deg, var(--purple) 50%, var(--purple) 50%);
    height: .2rem;
  }
  .diagonal-me-3{
    background-color: #013A6B;
    background-image: -webkit-linear-gradient(-10deg, var(--yellow) 50%, var(--yellow) 50%);
    height: .2rem;
  }
  .diagonal-me-4{
    background-color: #013A6B;
    background-image: -webkit-linear-gradient(-10deg, var(--green) 50%, var(--green) 50%);
    height: 1rem;
  }

  .diagonal-intro1{
    background-color: #013A6B;
    background-image: -webkit-linear-gradient(40deg, var(--purple) 50%, var(--black) 50%);
    height: 40rem;
  }

  .diagonal-intro{
    background-color: #013A6B;
    background-image: -webkit-linear-gradient(40deg, var(--green) 50%, var(--black) 50%);
    height: 40rem;
  }
  .diagonal-recipe{
    background-color: #013A6B;
    background-image: -webkit-linear-gradient(-80deg, var(--purple) 50%, var(--green) 50%);
    height: 40rem;
  }
  .diagonal-recipe-2{
    background-color: #013A6B;
    background-image: -webkit-linear-gradient(-80deg, var(--green) 50%, black 50%);
    height: 40rem;
  }
  .diagonal-seeker{
    background-color: #013A6B;
    background-image: -webkit-linear-gradient(-80deg, black 50%, var(--black) 50%);
    height: 40rem;
  }
  .diagonal-sm{
    background-color: #013A6B;
    background-image: -webkit-linear-gradient(-80deg, var(--black) 50%, black 50%);
    height: 40rem;
  }
  .diagonal-ss{
    background-color: #013A6B;
    background-image: -webkit-linear-gradient(-80deg, black 50%, var(--purple) 50%);
    height: 40rem;
  }
  .diagonal-ss2{
    background-color: #013A6B;
    background-image: -webkit-linear-gradient(-90deg, var(--purple) 50%, var(--purple) 50%);
    height: 20rem;
  }
  .diagonal-ss3{
    background-color: #013A6B;
    background-image: -webkit-linear-gradient(50deg, var(--pink) 50%, var(--pink) 50%);
    height: 10rem;
  }
  .diagonal-ss5{
    background-color: #013A6B;
    background-image: -webkit-linear-gradient(-50deg, var(--pink) 50%, var(--black) 50%);
    height: 20rem;
  }
  .diagonal-ss4{
    background-color: #013A6B;
    background-image: -webkit-linear-gradient(80deg, var(--pink) 50%, var(--purple) 50%);
    height: 20rem;
  }
  .diagonal-about-intro{
    background-color: #013A6B;
    background-image: -webkit-linear-gradient(30deg, var(--kind-0f-white) 50%, var(--black) 50%);
    height: 40rem;
  }
  .diagonal-about-intro1{
    background-color: #013A6B;
    background-image: -webkit-linear-gradient(-30deg, var(--kind-0f-white) 50%, var(--black) 50%);
    height: 40rem;
  }



  

  

  @import url(https://fonts.googleapis.com/css?family=Roboto:400,300,600,400italic);
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;

    text-rendering: optimizeLegibility;
  }

  
  .contact-form {
    max-width: 400px;
    width: 100%;
    margin: 0 auto;
    position: relative;
  }
  
  #contactf input[type="text"],
  #contactf input[type="email"],
  #contactf input[type="tel"],
  #contactf input[type="url"],
  #contactf textarea,
  #contactf button[type="submit"] {
    font: 400 12px/16px "Roboto", Helvetica, Arial, sans-serif;
  }
  
  #contactf {
    background: #F9F9F9;
    padding: 25px;
    margin: 150px 0;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  }
  
  #contactf h3 {
    display: block;
    font-size: 30px;
    font-weight: 300;
    margin-bottom: 10px;
  }
  
  #contactf h4 {
    margin: 5px 0 15px;
    display: block;
    font-size: 13px;
    font-weight: 400;
  }
  
  fieldset {
    border: medium none !important;
    margin: 0 0 10px;
    min-width: 100%;
    padding: 0;
    width: 100%;
  }
  
  #contactf input[type="text"],
  #contactf input[type="email"],
  #contactf input[type="tel"],
  #contactf input[type="url"],
  #contactf textarea {
    width: 100%;
    border: 1px solid #ccc;
    background: #FFF;
    margin: 0 0 5px;
    padding: 10px;
  }
  
  #contactf input[type="text"]:hover,
  #contactf input[type="email"]:hover,
  #contactf input[type="tel"]:hover,
  #contactf input[type="url"]:hover,
  #contactf textarea:hover {
    -webkit-transition: border-color 0.3s ease-in-out;
    -moz-transition: border-color 0.3s ease-in-out;
    transition: border-color 0.3s ease-in-out;
    border: 1px solid #aaa;
  }
  
  #contactf textarea {
    height: 100px;
    max-width: 100%;
    resize: none;
  }
  
  /* #contactf button[type="submit"] {
    cursor: pointer;
    width: 100%;
    border: none;
    background: var(--black);
    color: #FFF;
    margin: 0 0 5px;
    padding: 10px;
    font-size: 15px;
  }
  
  #contactf button[type="submit"]:hover {
    background: var(--black);
    -webkit-transition: background 0.3s ease-in-out;
    -moz-transition: background 0.3s ease-in-out;
    transition: background-color 0.3s ease-in-out;
  }
  
  #contactf button[type="submit"]:active {
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
  } */
  
  .copyright {
    text-align: center;
  }
  
  #contactf input:focus,
  #contactf textarea:focus {
    outline: 0;
    border: 1px solid #aaa;
  }
  
  ::-webkit-input-placeholder {
    color: #888;
  }
  
  :-moz-placeholder {
    color: #888;
  }
  
  ::-moz-placeholder {
    color: #888;
  }
  
  :-ms-input-placeholder {
    color: #888;
  } 

  .button {
    padding: .5rem 1rem;
    font-size: 1rem;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: var(--black);
    background-color: #e1e1e1;
    border: none;
    border-radius: .5rem;
    box-shadow: 0 .5rem #999;
  
  }
  
  .button:hover {
    color: black;
    background-color: #f1f1f1
  }
  
  .button:active {
    background-color: #f6f6f6;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }
  